* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar ------------ */


nav {
    display: flex;
    padding: 20px;
    align-items: center;
}

nav div {
    flex: 1;
}

.left-side {
    display: flex;
    justify-content: center;
    flex: 1;
    

}

.header {
    background-color: #1F2937;
    color: white;
    height: 50vh;
}


.left-side img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    color: white;

    ;
    padding: 4px;
}


ul {
    display: flex;
    padding: 0px;
    justify-content: center;
    margin-right: 20px;
}


li, a {
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
    margin-left: 10px;
}



/* navbar ---------- */

/* header title -------- */

h1 {
    margin-bottom: 10px;
    font-weight:bolder;
}

.header-title p {
    font-size: 16px;
    color: lightgray;
}


.title-image img {
   max-width: 500px;
    height: auto;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.28);

}

.header-title {
    width: 400px;

}

.title-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 60px;
    gap: 150px;
}

.title-button {
    border: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #288AB0;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

/* header title -------- */

/* card ---------------- */

.card-wrapper h2 {
    margin-bottom: 50px;
}

.card-wrapper {
    text-align: center;
    margin-top: 50px;
}

.card-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: grey;
}

.card img {
    width: 200px;
    height: 166px;
    box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: -1px 1px 10px 5px rgba(0, 0, 0, 0.28);
    margin-bottom: 10px;
    border-radius: 5px;
}

/* card -------------------- */
/* quotes */
.quotes p {
    width: 600px;
    margin: 0 auto;
    font-weight: 200;
}

.quotes {
    background-color: #e5e7eb;
    padding: 100px;
    margin: 70px auto;
    font-size: 20px;
    font-style: italic ;
    line-height: 30px;
}

.masjon {
    color: black;
    display: block;
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
}
/* quotes */

/* call to action button and button */
.cta-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    border-radius: 10px;
    width: 700px;
    margin: 0 auto;
    color: white;
    background-color: #288AB0;
}

.cta-button button {
    border: solid 2px white;
    padding: 5px;
    border-radius: 4px;
    background-color: #288AB0;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background-color: #1F2937;
    padding: 30px;
    color: lightgray;
    margin-top: 80px;
}
/* call to action button and button */


